// Colors
$primary-color : #3E92D0;
$secondry-color: #35DCE3;
$text-color: #FFFFFF;

// Fonts
$fontMain: 'Rubik', sans-serif;


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;